.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: 6%;
  padding-bottom: 3%;
  width: 100%;
  text-align: center;
  color: white;
} 

.footer-rating {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #888;
}
