.game-backdrop {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  text-align: center;
}

.game-container {
  text-align: center;
}

.game {
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  h1 {
    margin-bottom: 0;
  }

  div {
    margin-top: 5rem;
  }

  .description {
    color: #aaa;
  }

  .time {
    margin: 0.2rem;
    color: #ccc;
  }
}

#choose-game {
  button {
    padding: 2rem;
    font-size: 2rem;
  }

  #verse {
    margin: 1rem;
    font-family: 'Gugi', 'Nanum Gothic', sans-serif;
    font-size: 2rem;
  }
}
