.roulette-container {
  display: block;
  margin-right: auto;
  margin-left: auto;

  button {
    display: block;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .roulette-canvas {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.roulette-backdrop {
  -webkit-filter: blur(50px);
  filter: blur(50px);
  text-align: center;
}

.roulette-result {
  text-align: center;
  color: #f3d076;
  font-family: 'Gugi', 'Nanum Gothic', sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

.vertical-center {
  margin-top: 70%;
}

.discription {
  text-align: center;
}
