.roulette-container {
  display: block;
  margin-right: auto;
  margin-left: auto;

  h1 {
    text-align: center;
  }

  button {
    display: block;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #canvas-container {
    margin-bottom: 30px;
  }
}

.roulette-backdrop {
  -webkit-filter: blur(50px);
  filter: blur(50px);
  text-align: center;
}
