#line1 {
  border-width: 0.5rem;
  border-color: #07308f;
  background-color: #fff;
  padding: 2% 4%;
  line-height: 10px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

#line2 {
  border-width: 0.5rem;
  border-color: #10a643;
  background-color: #fff;
  padding: 2% 4%;
  line-height: 10px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

#line3 {
  border-width: 0.5rem;
  border-color: #ea8406;
  background-color: #fff;
  padding: 2% 4%;
  line-height: 10px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

#line4 {
  border-width: 0.5rem;
  border-color: #01a4df;
  background-color: #fff;
  padding: 2% 4%;
  line-height: 10px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

#line5 {
  border-width: 0.5rem;
  border-color: #a1499b;
  background-color: #fff;
  padding: 2% 4%;
  line-height: 10px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

#line6 {
  border-width: 0.5rem;
  border-color: #d08f12;
  background-color: #fff;
  padding: 2% 4%;
  line-height: 10px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

#line7 {
  border-width: 0.5rem;
  border-color: #627535;
  background-color: #fff;
  padding: 2% 4%;
  line-height: 10px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

#line8 {
  border-width: 0.5rem;
  border-color: #e84e72;
  background-color: #fff;
  padding: 2% 4%;
  line-height: 10px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

#line9 {
  border-width: 0.5rem;
  border-color: #be941c;
  background-color: #fff;
  padding: 2% 4%;
  line-height: 10px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

#gyeongui {
  border-width: 0.5rem;
  border-color: #79c0a0;
  background-color: #fff;
  padding: 2% 4%;
  line-height: 10px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

#waiting {
  display: relative;
  text-align: center;
}
