.html {
    background-color: #000000;
}

.mobilalayout {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    color: beige;
    // FIXME might need to change height
    height: 1400px;
    padding: 10% 10%;
};